<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= course.Name %></title>
</head>
<body>
    <h1>Course Name: <i><%= course.Name %></i></h1>
    <h2>Course Code: <i><%= course.CourseCode %></i></h2>
    <h4>Course Price: <i><%= course.Price %></i></h4>

    <form action="/addNote">
        <input type="submit" value="Add Notes">
    </form>
    <form action="/addVideo">
        <input type="submit" value="Add Videos">
    </form>

    <h1>Students Registered Under this Course</h1>
    <div class="Students">
        <% if (data.length > 0) { %>
            <table>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
                <% data.forEach(Detail => { %>
                    <tr>
                        <td><%= Detail.Fname %></td>
                        <td><%= Detail.Lname %></td>
                        <td><%= Detail.PhnNo %></td>
                        <td>
                            <a href="/student/<%= Detail._id %>">View</a>
                        </td>
                    </tr>
                    
                <% }) %>
            </table>
        <% } else { %>
            <p>There are no Registered Students for this Course</p>
        <% } %>

        <h1>Notes</h1>
        <div>
            <% if (notes.length > 0) { %>
                <% notes.forEach(note => { %>
                    <% if (note.crsID == 0) { %>
                        <p>There are no Notes for This Course</p>
                    <% } else if (note.crsID == course._id){ %>
                        <img src="<%= note.Cover %>" alt="No Cover" width="300px" height="100%">
                        <a href="<%= note.Note %>">View Note</a>
                        <p><%= note.Name %></p>
                    <% } %>
                <% }) %>
            <% } else { %>
                <p>There is no Note</p>
            <% } %>
        </div>
        
        <h1>Videos</h1>
        <div>
            <% if (videos.length > 0) { %>
                <% videos.forEach(video => { %>
                    <% if (video.crsID != course._id) { %>
                        <p>There are no Notes for This Course</p>
                    <% } else { %>
                        <video width="300px" height="100%" controls id="video">
                            <source src="<%= video.Video %>" type="video/mp4" style="width: 100%; height: 100%; object-fit: cover;">
                        </video>
                        <p><%= video.Name %></p>
                    <% } %>
                <% }) %>
            <% } else { %>
                <p>There is no Video</p>
            <% } %>
        </div>
    </div>
</body>
</html>