<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>

    <form action="/createCourse">
        <input type="submit" value="Create Course">
    </form>

    <h1>Courses</h1>

    <div class="courses">
        <% if (courses.length > 0) { %>
            <table>
                <tr>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Course Price</th>
                    <th>Actions</th>
                </tr>
                <% courses.forEach(course => { %>
                    <tr>
                        <td><%= course.CourseCode %></td>
                        <td><%= course.Name %></td>
                        <td><%= course.Price %></td>
                        <td>
                                <a href="/viewCourse/<%= course._id %>">View</a>
                                <a href="/editCourse/<%= course._id %>">Edit</a>
                                <a href="/deleteCourse/<%= course._id %>">Delete</a>
                        </td>
                    </tr>
                <% }) %>
            </table>
        <% } else { %>
            <p>There are no Courses</p>
        <% } %>
    </div>

    <h1>Students</h1>

    <div>
        <% if (students.length > 0) { %>
            <table>
                <tr>
                    <th>Full Name</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
                <% students.forEach(student => { %>
                    <tr>
                        <td><%= student.Fname %> <%= student.Lname %></td>
                        <td><%= student.PhnNo %></td>
                        <td>
                            <a href="/student/<%= student._id %>/main">View</a>
                            <a href="/deleteStudent/<%= student._id %>">Delete</a>
                        </td>
                    </tr>
                <% }) %>
            </table>
        <% } else { %>
            <p>There are no Students</p>
        <% } %>
    </div>
</body>
</html>